<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.njuptkechengquan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_r"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="南邮课程圈"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:label="本地天气">
            <intent-filter>
                <action android:name="com.intent.action.WEATHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="课程表">
            <intent-filter>
                <action android:name="com.intent.action.COURSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".BbsActivity"
            android:label="论坛">
            <intent-filter>
                <action android:name="com.intent.action.BBS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
    </application>

</manifest>